<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic vue</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      .active{
        color: red;
        text-decoration: underline;
      }
      .notActive{
        color:lightcoral;
        background-color:gray
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h2>{{message}}</h2>
      <p>{{number *90}}</p> <br>
      <a :href="url">Google</a> <br>
      <button @click="number2++">{{number2}}</button> <br>
      <button @click="number2--">Decrease</button>

      <!-- modifiers -->
      <form action="" @submit.prevent="number2++">
        <button>Submit</button>
      </form>

      <!-- two way binding -->
      <form action="">
        <input type="text" id="bd" v-model="text">
        {{text}}
      </form>

      <!-- SMALL EXAMPLE -->
      <form action="">
        {{ sign }}
     

      <input type="radio" v-model="sign" value="Rice">Rice</input>
      <input type="radio" v-model="sign" value="Esther">Esther</input>
    </form>
      <form action="">
        <h2>hello</h2>
        <fieldset style="padding: 20px;margin: 15px;">
          <legend>checkbox</legend>
          <label for="">checkbox</label>
          <input type="checkbox" v-model="options" value="option 1"><br>


        <label for="">selecting option two will disable option one</label>
        <input type="checkbox" v-model="options"  value="option 2"><br>

          <label for="">option 3 is disabled</label>
          <input type="checkbox" v-model="options"  value="option 3"><br>

          <h4>You selected: {{options}}</h4>
        </fieldset>
      </form>
     <!-- Dynamic styling (adding css in vue)  INLINE STYLE BINDING-->
      <h3 :style="{color:color, fontSize: size + 'px'}">Add me some styles</h3>
      <!-- object style binding -->
       <h4 :style="stylesObj">Object style binding</h4>
      
       <!-----------------Class binding ------------------------ -->
       <h3 :class="[isActive ? 'active' : 'notActive']">Class Binding</h3>

      <!----------------------------Event binding ----------- -->
      <button @click="increaseFont">Increase</button>
      <button @click="decreaseFont">Decrease</button>
      <h6 :style="{fontSize:fontSize +'px'}">Event Binding</h6>

      <!-------------------------- Condren ---------------->
       <h2 v-if="online">{{name}} is online</h2>
       <h2 v-else-if="name=='Esther'">Howdy Esther</h2>
       <h2 v-else>Offline</h2>

       <!---------------------------list rendering (loop) --------------------- -->
       <!------------always use a key for v-for-------------  -->
       <h3 v-for="blog in blogs" :key="blogs.id">{{blog.title}}
        <li>{{blog.body}}</li>
       </h3>

       <!-----------------------------COMPUTED PROPERTY  ---------------------->
       <h3>{{reverseMessage}}</h3>
     <!--------------------------Watcher  ----------------------->
     <h2>Esther is at {{atHome === 'home' ? 'home':'work'}}</h2>

    </div>


    <script>
      const { createApp } = Vue;
      const app = createApp({
        data() {
          return {
            message: "Hello world",
            number: 100,
            text:"  ",

            // vbind
            url:"https://www.google.com",
            options:[],
            number2:0,
            sign: "Esther",
            color:"green",
            size:30,
            stylesObj:{
              color:"skyblue",
              fontSize:"45px",
            },
            isActive:false,
            fontSize:10,
            online:false,
            name:"Esther",   
            message:"helloooo",
            atHome:'home',
            
            blogs:[
            {
              id:1, 
              title:"Home Accidents",
              body:" Lorem ametipsum dolor, sit  consectetur",
            },
            {
              id:2,
              title:"Politics",
              body:" adipisicing elit. Amet sunt voluptatibus odio"
            },
            {
              id:3,
              title:"Hip-pop",
              body:"nihil possimus. Facere incidunt, repellendus maiores non dolores, ex,"
            }
            ],
          };
        },

        methods: {
            increaseFont(){
               this.fontSize++;
            },
            decreaseFont(){
               this.fontSize--;
            }
          },
          computed:{
              reverseMessage(){
                this.message.split('').reverse('').join('')
              }
          },
          watch:{
             atHome:function(newValue){
               console.log("you are being watched at "+newValue)
             }
          }
      }); 
      app.mount("#app");
    </script>
  </body>
</html>
